@mixin flexContainer($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

.card {
  // @include flexContainer(row);
  // justify-content: flex-start;
  &:hover {
    // box-shadow: 2px 2px 17px -2px rgb(24, 24, 24);
    box-shadow: 0 0 8px #5c5c5c;
    outline: rgb(150, 150, 150) solid 1px;
  }

  .buttonCont {
    @include flexContainer(row);
    justify-content: flex-start;
    width: 100%;
    margin-top: 5px;
    padding: 0;
  }

  .cardName {
    color: #0e0e0e;
    font-weight: bold;
  }

  .cardText {
    color: #1a1a1a;
    margin-bottom: 10px;
  }
}