@mixin flexContainer($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

.Footer-outter-container {
  @include flexContainer(row);
  justify-content: center;
  padding: 0.1em;
  width: 100%;
  height: 50px;
  // border: 1px solid red;
  font-family: avenir;
  @media all and (max-width: 2030px) {
    margin-top: 4em;
  }
  @media all and (max-width: 1950px) {
    margin-top: 2em;
  }
  @media all and (max-width: 1750px) {
    margin-top: 1em;
  }
  @media all and (max-width: 1650px) {
    margin-top: 0.5em;
  }
  @media all and (max-width: 820px) {
    justify-content: center;
  }
  @media all and (max-width: 250px) {
    @include flexContainer(column);
    height: 100%;
    width: 100%;
  }

  // #linkedin {
  //   color: rgb(149, 149, 190);
  //   &:hover {
  //     color: rgb(202, 201, 201);
  //   }
  // }
  // #github {
  //   color: rgb(130, 192, 133);
  //   &:hover {
  //     color: rgb(202, 201, 201);
  //   }
  // }
  // #email {
  //   color: rgb(158, 184, 182);
  //   &:hover {
  //     color: rgb(202, 201, 201);
  //   }
  // }
}

.Footer-inner-container {
  @include flexContainer(row);
  justify-content: space-evenly;
  width: 30%;
  @media all and (max-width: 820px) {
    width: 80%;
  }
  @media all and (max-width: 650px) {
    width: 90%;
  }
  @media all and (max-width: 500px) {
    width: 100%;
  }
  @media all and (max-width: 390px) {
    width: 100%;
  }
  @media all and (max-width: 250px) {
    @include flexContainer(column);
    height: 100%;
    width: 100%;
  }
}

.Footer-icon-div {
  width: auto;
  height: auto;
  border: none;
}

.Footer-icon-logo {
  font-size: 1.2em;
  color: rgb(241, 241, 241);
  text-decoration: none;
  font-family: avenir;
  transition: ease-in 0.2s;
  background: transparent;
  &:hover {
    color: rgb(156, 156, 156);
  }
  @media all and (max-width: 3000px) {
    font-size: 2em;
  }
  @media all and (max-width: 2000px) {
    font-size: 1.5em;
  }
  @media all and (max-width: 438px) {
    font-size: 0.8em;
  }

}