@mixin flexContainer($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

.index-container {
  height: 100vh;
  width: 100%;
  background-color: #212121;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

section {
  @include flexContainer(column);
  width: 100%;
  height: 100vh;
}