@mixin flexContainer($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

.navbar-outter-container {
  @include flexContainer(row);
  justify-content: flex-end;
  padding: 2em;
  width: 100%;
  height: 70px;
  // border: 1px solid red;
  font-family: avenir;
  &:hover {
    box-shadow: 3px 25px 31px -26px rgb(107, 107, 107);
  }
}

.navbar-inner-container {
  @include flexContainer(row);
  justify-content: space-evenly;
  width: 60%;
}

.navbar-link {
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  font-family: avenir;
  transition: ease-in 0.2s;
  background: transparent;
  &:hover {
    color: rgb(121, 121, 121);
  }
}